.logo {
    max-width: 120px;
}

header {
    height: 60px;
}

main {
    height: calc(100vh - 100px);
   
}
aside {
   width: 150px;
   background-image:url(../img/sidebar-bg.png)
}
section {
    width: calc(100% - 150px);
}



#icon-signals {
    margin-right: 5px;
}

.badge {
    background-color: #4e627c;
}

