#logo {
    max-width: 120px;
    
}
#logo-2 {
    max-width: 120px;
    height: 60px;
    display: none;
}

header {
    height: 60px;
}

main {
    height: calc(100vh - 100px);

}

aside {
    width: 150px;
    background-image: url(../img/sidebar-bg.png)
}

section {
    width: calc(100% - 150px);
}



/* #icon-signals {
    margin-right: 5px;
} */

.badge {
    background-color: #165bba;
}

.table-logo {
    max-width: 30px;
    max-height: 30px;
}

h2 {
    background-color: #f7f7f7;
}